<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <!-- LITER THEME -->
    <link rel="stylesheet" href="https://bootswatch.com/4/litera/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
        integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    
    <!-- ANIMEATION CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css">
    
    <!-- CSS -->
    <link rel="stylesheet" href="/css/style.css">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Finterest</title>
</head>

<body>
    <!-- Navigation.ejs -->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">
        <img src="/img/logo.png" style="height: 30px" class="d-inline-block align-top"> Finterest
    </a>

    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="/upload"><i class="fas fa-upload"></i> Upload Image</a>
                <!-- <a class="nav-link" href="/about"><i class="fas fa-about"></i> Upload Image</a> -->
            </li>
        </ul>
    </div>
</nav>

</body>
</html>